page-tabs {
    .login-top-menu{
        -webkit-app-region: no-drag;
    }
    ion-navbar{
      height: 56px;
      -webkit-app-region: drag;
      .toolbar-background {
        background-color: white;
      }
    }
    ion-tabs {
      margin-top:56px;
      margin-bottom: 45px;
      .tabbar{
        background-color: white !important;
        color: inherit !important;
        padding: 10px;
      }
      a {
        .tab-button-text {
          font-size: 15px;
          font-weight: bold;
        }
        ion-icon {
          color: inherit;
        }
      }
      .tabbar a[aria-selected=false] {
        color: #707c97;
      }
      .tabbar a[aria-selected=true] {
        color: inherit !important;
      }
    }

    .tab-button ion-badge{
        border-radius: 100%;
    }
    ion-badge{
      min-width: 16px;
    }
    .groupName{
      text-transform: none;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.67;
      letter-spacing: normal;
      color: #0d1c2e;
    }

    .header-md::after,
    .tabs-md[tabsPlacement="top"] > .tabbar::after,
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
    }

    //부투스트랩과 충돌.
    a:hover, a:focus{
      text-decoration: none;
    }

    .new-badge {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background-color: #ff3366;
      font-size: 10px;
      font-weight: bold;
    }

    // custom tabs icon
    .ion-md-customHome {
        background: url(../../www/imgs/renewal/Icon_Fill_home.svg) 50% 50% no-repeat;
        height: 30px;
        width: 30px;
    }

    .ion-md-customChat {
        background: url(../../www/imgs/renewal/Icon_Outline_chat.svg) 50% 50% no-repeat;
        height: 30px;
        width: 30px;
    }
    .ion-md-customSquad {
        background: url(../../www/imgs/renewal/Icon_Outline_squad.svg) 50% 50% no-repeat;
        height: 30px;
        width: 30px;
    }
    .ion-md-customMember {
        background: url(../../www/imgs/renewal/Icon_Outline_member.svg) 50% 50% no-repeat;
        height: 30px;
        width: 30px;
    }
}
