<ion-content no-padding class="content-color">
  <ion-segment [(ngModel)]="defaultSegment" class="bg-white">
    <ion-segment-button value="chatRoom" class="d-flex justify-content-center align-items-center"
                        [ngStyle]="{'border-color': defaultSegment === 'chatRoom' ? group.data.team_color : 'white'}">
      {{ langPack['chatroom'] }}
      <ion-badge class="ml-2 msg-badge" *ngIf="memberUnreadTotalCount" color="danger">{{ memberUnreadTotalCount | badgeLimit: 999 }}</ion-badge>
    </ion-segment-button>
    <ion-segment-button value="squadChatRoom" class="d-flex justify-content-center align-items-center"
                        [ngStyle]="{'border-color': defaultSegment === 'squadChatRoom' ? group.data.team_color : 'white'}">
      {{ langPack['squad_chatroom'] }}
      <ion-badge class="ml-2 msg-badge" *ngIf="squadUnreadTotalCount" color="danger">{{ squadUnreadTotalCount | badgeLimit: 999 }}</ion-badge>
    </ion-segment-button>
  </ion-segment>

  <div class="search-frame px-4 py-3">
    <div class="search-group d-flex align-items-center justify-content-start">
      <div class="input-icon d-flex justify-content-start align-items-center">
        <img src="imgs/renewal/Icon_Outline_search.svg">
      </div>
      <input [(ngModel)]="serachValue" class="input-field" type="text" placeholder="{{langPack['search']}}">
    </div>
  </div>

  <div class="chat-scroll-con">
    <div [ngSwitch]="defaultSegment">
      <div *ngSwitchCase="'chatRoom'">
        <ng-container *ngFor="let room of chatRooms">
          <ng-container *ngIf="!serachValue || room.data.title.indexOf(serachValue.trim())>-1;">
            <div class="px-4 chat-item-frame" bizGroupColor [hover]="true" [selected]="false">
              <biz-chat-item  (clickedFunc)="gotoRoom($event)" [chat]="room"></biz-chat-item>
            </div>
          </ng-container>
        </ng-container>
        <ion-fab right bottom>
          <button class="fab-button"  ion-fab [color]="groupMainColor" (tap)="presentPopover($event)">
<!--            <ion-icon name="customNewRoom"></ion-icon>-->
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-fab>
      </div>
      <div *ngSwitchCase="'squadChatRoom'">
        <ng-container *ngFor="let room of squadChatRooms">
          <ng-container *ngIf="!serachValue || room.data.name.indexOf(serachValue.trim())>-1;">
            <div class="px-4 chat-item-frame" bizGroupColor [hover]="true" [selected]="false">
              <biz-chat-item  (clickedFunc)="gotoRoom($event)" [chat]="room" bizGroupColor [hover]="true" [selected]="false"></biz-chat-item>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="biz-footer d-flex justify-content-center align-items-center">
    Bizsquad is powered by<span class="link-newturns pointer" (click)="ipc.send('loadGH','https://www.bizsquad.net/')">&nbsp;Newturns&nbsp;</span>Inc.
  </div>
</ion-content>
