page-chat-frame {
  // 자식포함 + (header)
  ion-item {
    background-color: map-get($colors, light) !important;
  }

  //스크롤 컨텐츠 배경색
  ion-content .scroll-content {
    background-color: white;
  }

  //프로그래스바
  .progress-Header{
    background-color:#f4f4f4;
    position: relative !important;
    top: 80px;
  }

  .differentDay{
    color: #707c97;
    opacity: 0.5;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }

  // chat body Frame Design
  .message-wrap {
    padding: 10px;
    height: 100%;
  }

  .chat-input-frame {
    background-color: #fcfcfc;
    border-top: 1px solid #e3e7f2;
    .circle_send {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    ion-textarea {
      border: 1px solid #e3e7f2;
      border-radius: 5px;
    }
    //textarea {
    //  font-size: 15px;
    //  line-height: 1.5;
    //  background-color: #fcfcfc;
    //  border: 0;
    //  resize: none;
    //  height: 40px;
    //}
  }

  //custom search input placeholder //
  ::-webkit-input-placeholder { /* Edge */
    text-align: left;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-align: left;
  }
  ::placeholder {
    text-align: left;
  }
}
